@use '@carbon/colors';
@use '@carbon/type';
// Include type reset
@include type.reset();
// @import '@carbon/colors/scss/colors';
// @import '@carbon/type/scss/type';
// @import '@carbon/type/scss/font-face/mono';
// @import '@carbon/type/scss/font-face/sans';
// @import '@carbon/type/scss/styles';


// @include carbon--type-reset();
// @include carbon--font-face-mono();
// @include carbon--font-face-sans();


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
}

.playerWrapper {
    position: relative;
    padding-top: 56.25%; 
    .reactPlayer {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.landingPage {
	height: 100vh;
	position: relative;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
    }
    &_logo {
        position: relative;
        z-index: 2;
        height: 90px;
        img {
            width: 170px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-left: 0;
        }
    }
    &_content {
        position: relative;
        z-index: 2;
        width: 65%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 9rem;
        h1 {
            font-weight: 700;
            font-size: 5.2rem;
            line-height: 1.1;
            margin: 0 0 2rem;
            color: colors.$white;
            // color: $white-0;
        }
        .formHeading {
            @include type.type-style('heading-03');
            color: colors.$black;
        }
        &_buttons {
            display: flex;
            justify-content: center;
            button {
                margin: 0 10px;
            }
        }
    }
}

.MainPage {
    height: 100vh;
    padding-top: 30px;
    background-color: colors.$black;
    .movieHomePreview {
        background-color: #000;
        height: 60%;
        &:not(.no-content){
            display: flex;
            justify-content: space-between;
            .previewDetails {
                width: 60%;
                padding-left: 1em;
                padding-top: 0.5em;
                &_logoContainer {
                    display: flex;
                    align-items: center;
                    img {
                        max-height: 50px;
                    }
                    span {
                        color: colors.$white;
                        @include type.type-style('body-compact-01');
                    }
                }
                &_title {
                    @include type.type-style('heading-04');
                    color: colors.$white;
                    padding-bottom: .3em;
                }
                &_yearDuration {
                    color: colors.$white;
                    padding-bottom: .7em;
                    @include type.type-style('label-01');
                    .year {
                        padding-right: 1em;
                    }
                }
                &_summary {
                    color: colors.$white;
                    @include type.type-style('label-01');
                    padding-bottom: .7em;
                }
                &_genre {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        padding: 1em;
                        position: relative;
                        @include type.type-style('label-01');
                        font-weight: bold;
                        &:after {
                            content: "\2022";
                            position: absolute;
                            top: 50%;
                            left: 100%;
                            transform: translate(-50%, -50%);
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                            &:after {
                                content: unset;
                            }
                        }
                    }
                }
                &_cast {
                    color: colors.$white;
                    @include type.type-style('label-01');
                    span {
                        font-weight: bold;
                    }
                }
                &_watched {
                    padding-top: .7em;
                    color: colors.$green-30;
                    @include type.type-style('label-01');
                }
                &_progress {
                    padding-top: .7em;
                    display: flex;
                    align-items: center;
                    width: 50%;
                    .progress {
                        flex: 1;
                        .bx--progress-bar__label {
                            display: none;
                        }
                    }
                    .percent {
                        @include type.type-style('label-01');
                        color: colors.$white;
                        padding-left: 1em;
                    }
                }
            }
            .playerWrapperContainer {
                width: 40%;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    // background: rgba(0, 0, 0, 0.6);
                    box-shadow: inset 110px 20px 130px 10px #000000, inset 130px -130px 160px 22px #000000;
                }
            }
        }
    }
    .movieHomePreview.no-content {
        background-color: unset;
        > div {
            height: 100%;
            .previewSlide {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background: rgba(0, 0, 0, 0.7);
                    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
                }
                span {
                    position: absolute;
                    display: block;
                    word-break: break-all;
                    color: colors.$white;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include type.type-style('heading-06');
                }
                height: 100%;
            }
        }
    }
    .movieCategories {
        height: 40%;
        .movieCategoriesHorizontalSwiper {
            height: 100%;
            .movieCategory {
                height: 100%;
                .movieCategory_heading {
                    // @include carbon--type-style('productive-heading-03');
                    // @include carbon--type-style('productive-heading-03');
                    @include type.type-style('heading-compact-01');
                    color: colors.$white;
                    padding: 0.3em 1em;
                }
                .movieCategory_slider {
                    height: 85.79%;
                    .movieSlideLink {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        .movieSlideThumb {
                            height: 100%;
                            // background-color: blue;
                        }
                    }
                }
            }
        }
    }
}

.WatchPage {
    height: 100vh;
    padding-top: 30px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset 60vw 0px 300px #000000, inset 0px -40vh 300px #000000;
    }
    .controlsContainer {
        position: relative;
        width: 50%;
        padding-top: .5em;
        padding-left: 1em;
        &_details {
            &_title {
                // @include carbon--type-style('expressive-heading-06');
                color: colors.$white;
                @include type.type-style('heading-05');
                padding-bottom: .3em;
            }
            &_yearDuration {
                color: colors.$white;
                padding-bottom: 1em;
                @include type.type-style('body-01');
                .year {
                    padding-right: 1em;
                }
            }
            &_summary {
                color: colors.$white;
                padding-bottom: 1em;
                @include type.type-style('body-01');
            }
            &_genre {
                display: flex;
                flex-wrap: wrap;
                li {
                    padding: 1em;
                    position: relative;
                    @include type.type-style('body-01');
                    font-weight: bold;
                    &:after {
                        content: "\2022";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        transform: translate(-50%, -50%);
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        &:after {
                            content: unset;
                        }
                    }
                }
            }
            &_cast {
                color: colors.$white;
                @include type.type-style('body-01');
                span {
                    font-weight: bold;
                }
            }
            &_watched {
                padding-top: 1em;
                color: colors.$green-30;
                @include type.type-style('body-01');
            }
            &_progress {
                padding-top: 1em;
                display: flex;
                align-items: center;
                width: 50%;
                .progress {
                    flex: 1;
                    .bx--progress-bar__label {
                        display: none;
                    }
                }
                .percent {
                    @include type.type-style('body-01');
                    color: colors.$white;
                    padding-left: 1em;
                }
            }
        }
        &_buttons {
            padding-top: 1em;
            .vidControl {
                justify-content: flex-start;
                min-width: 16rem;
                svg {
                    margin-right: 1.5em;
                }
            }
        }
        .myListNotification {
            position: fixed;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
        .myListNotification.false {
            display: none;
        }
        .myListNotification.true {
            display: flex;
        }
    }
    &_vid {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        z-index: 2000;
    }
}

.myListPage {
    min-height: 100vh;
    padding-top: 30px;
    background-color: colors.$black;
    h1 {
        @include type.type-style('heading-03');
        padding: 20px;
        color: colors.$white;
    }
    &_card {
        margin-left: 1.5px;
        margin-right: 1.5px;
        min-height: 50vh;
        width: 100%;
    }
}

.searchPage {
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    background-color: colors.$black;
    min-height: 100vh;
    &_controls {
        display: flex;
        &_filter {
            position: fixed;
            z-index: 1;
            top: 30px;
            left: 0;
            width: 200px;
            height: calc(100vh - 30px);
            overflow: hidden;
            color: colors.$white;
            background-color: colors.$black;
            h1 {
                @include type.type-style('heading-03');
                padding: 20px;
            }
            > div {
                height: 100%;
                overflow: scroll;
                .bx--form-item {
                    padding: 0 10px;
                    .bx--checkbox-label {
                        &:before {
                            border: 1px solid colors.$white;
                        }
                    }
                }
            }
        }
        &_searchField {
            position: relative;
            left: 200px;
            width: calc(100vw - 200px);
            &_resultsCount {
                left: 200px;
                width: calc(100vw - 200px);
                padding: 10px 20px 5px 20px;
                background-color: colors.$black;
                color: colors.$white;
                @include type.type-style('label-01');
            }
            ul {
                background-color: colors.$cool-gray-10;
                li {
                    padding: 8px 20px;
                    border: 1px solid colors.$cool-gray-30;
                    @include type.type-style('label-01');
                    cursor: pointer;
                }
            }
        }
        
    }
    
    &_resultsContainer {
        margin-left: 200px;
        margin-right: 0;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        width: calc(100vw - 200px);
        .cds--row {
            width: 100%;
            padding: 10px 20px 0 20px;
            margin: 0;
        }
    }
    &_card {
        margin-left: 1.5px;
        margin-right: 1.5px;
        min-height: 50vh;
        width: 100%;
    }
}

.headerContainer {
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 50px;
    // height: 100vh;
    
}


.layoutContainer {
//     display: flex;
    .headerContainer {
        height: 30px;
        background-color: colors.$cool-gray-80;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1500;
        &_menu {
            cursor: pointer;
            padding: .5em 1em;
            svg {
                fill: colors.$white;
            }
        }
        &_signout {
            display: inline-block;
            display: flex;
            align-items: center;
            color: colors.$white;
            @include type.type-style('label-01');
            padding: .5em 1em;
            cursor: pointer;
            svg {
                margin-left: 3px;
                fill: colors.$white;
            }
        }
    }
    .sidebarContainer {
        position: fixed;
        top: 30px;
        left: 0;
        height: calc(100vh - 30px);
        background-color: colors.$cool-gray-100;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        z-index: 1500;
        &_open {
            transform: translate3d(0vw, 0, 0);
            height: 100vh;
        }
        &_close {
            transform: translate3d(-100vw, 0, 0);
        }
        .sidebarUser {
            padding: 30px;
            .sidebarLogo {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: colors.$blue-100;
                color: colors.$white;
                border: 3px solid colors.$blue-30-hover;
                @include type.type-style('heading-05');
            }
            .sidebarUsername {
                text-align: center;
                color: colors.$white;
                display: block;
                padding-top: 10px;
                @include type.type-style('body-compact-02');
            }
        }
        ul {
            padding-top: 40px;
            @include type.type-style('heading-02');
            li {
                a {
                    display: block;
                    padding: 10px 20px;
                    margin: 10px 0;
                    &:link,
                    &:visited {
                        color: colors.$white;
                    }
                    &:hover,
                    &:active {
                        color: colors.$blue-30-hover;
                    }
                }
                a.active {
                    color: colors.$blue-30-hover;
                }
                span {
                    padding: 10px 20px;
                    margin: 10px 0;
                    cursor: pointer;
                    color: colors.$white;
                    display: block;
                    &:hover {
                        color: colors.$blue-30-hover
                    }
                }
            }
        }
    }
}

.scrollTopBtn {
    position: fixed !important;
    z-index: 100;
    bottom: 10%;
    right: 3%;
    &_false {
        display: none !important;
    }
    &_true {
        display: flex !important;
    }
}